# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules

# Local env files
.env
.env.local

# Build output
dist
dist.zip

# Testing
coverage

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
